@use 'variables' as *;

*.text {
    &-1 { color: $text-1; }
    &-2 { color: $text-2; }
    &-dark-1 { color: $text-dark-1; }
    &-dark-2 { color: $background-dark-2; }
    &-orange { color: $orange; }
    &-pink { color: $pink; }
    &-neon-red { color: #F63C4E; }
    &-yellow { color: $yellow; }
    &-half-way-orange { color: $half-way-orange; }
    &-gray { color: $gray; }
    &-blue { color: $blue; }
    &-black { color: $black; }
    &-teal { color: $teal; }
    &-emerald { color: #46C998; }
    &-sea-blue { color: #83ACB2; }
    &-violet { color: $violet; }
    &-baby-blue { color: $baby-blue; }
    &-white { color: $background-1; }
    &-green { color: #93DA08; }
    &-blood-orange { color: #C53000; }
    &-light-gray { color: #CED0D3; }
    &-dark-gray { color: #373737; }
    &-dark-gray-2 { color: #1F1F1F; }
    &-honey { color: #FFB000; }
    &-mid-gray { color: #767E83; }
    &-light-blue { color: #06CCD3; }
    &-pastel-blue { color: #7F84DE; }
    &-note { color: #FFFBDE; }

    &-gradient {
        &-orange { @include gradient-text($orange, #FFB700); }
        &-purple { @include gradient-text(#52A6E0, #F379E7); }
        &-yellow { @include gradient-text(#FFB700, $yellow); }
        &-purple-vertical { @include gradient-text(#B57DC1, #9A7DC1); }
        &-gray-vertical { @include gradient-text($background-2, $background-1); }
    }

    // Sizes
    &-s { font-size: $text-s-13; }
    &-m { font-size: $text-m-16; }
    &-l { font-size: $text-l-19; }
    &-xl { font-size: ptr(22); font-weight: 500; }
    &-xxl { font-size: $text-xl-26; font-weight: 500; }

    // Headings
    &-hs { font-size: $heading-s-22; }
    &-hm { font-size: $heading-m-32; }
    &-hl { font-size: $heading-l-44; }
    &-hxl { font-size: $heading-xl-60; }

    // Alignment
    &-center { text-align: center; }
    &-right { text-align: right; }
    &-left { text-align: left; }

    &-FF548D { color: #FF548D; }
    &-6B6B6B { color: #6B6B6B; }
    &-8D8D8D { color: #8D8D8D; }
    &-FF7E00 { color: #FF7E00; }
}

// Replace the text size classes with this
@for $i from 10 through 100 {
    .text-sm-#{$i} { 
        @include breakpoint(small) {
            font-size: ptr($i)!important;
        }
    }
    .lh-sm-#{$i} { 
        @include breakpoint(small) {
            line-height: ptr($i)!important;
        }
    }

    .text-#{$i} { 
        font-size: ptr($i);

        @include breakpoint(small) {
            font-size: ptr(text-small-fluid-size($i));
        }
    }
    
    .lh-#{$i} { 
        line-height: ptr($i); 

        @include breakpoint(small) {
            line-height: ptr(text-small-fluid-size($i));
        }
    }
}

.bg {
    &-1 { background-color: $background-1; &:is(.button):before { background-color: $background-1; } }
    &-2 { background-color: $background-2; &:is(.button):before { background-color: $background-2; } }
    &-dark-1 { background-color: $background-dark-1; &:is(.button):before { background-color: $background-dark-1; } }
    &-dark-2 { background-color: $background-dark-2; &:is(.button):before { background-color: $background-dark-2; } }
    &-orange { background-color: $orange; &:is(.button):before { background-color: $orange; } }
    &-pink { background-color: $pink; &:is(.button):before { background-color: $pink; } }
    &-neon-red { background-color: #F63C4E; &:is(.button):before { background-color: #F63C4E; } }
    &-yellow { background-color: $yellow; &:is(.button):before { background-color: $yellow; } }
    &-green { background-color: #93DA08; &:is(.button):before { background-color: #93DA08; } }
    &-honey { background-color: #FFB000; &:is(.button):before { background-color: #FFB000; } }
    &-half-way-orange { background-color: $half-way-orange; &:is(.button):before { background-color: $half-way-orange; } }
    &-blood-orange { background-color: #C53000; &:is(.button):before { background-color: #C53000; } }
    &-light-gray { background-color: #CED0D3; &:is(.button):before { background-color: #CED0D3; } }
    &-gray { background-color: $gray; &:is(.button):before { background-color: $gray; } }
    &-graycta {
        background-color: #FAFAFA;
        border: 1px solid #E9E9E9;
    }
    &-gray-label {
        background-color: #81868C;
    }
    &-mid-gray { background-color: #767E83; &:is(.button):before { background-color: #767E83; } }
    &-dark-gray { background-color: #373737; &:is(.button):before { background-color: #373737; } }
    &-dark-gray-2 { background-color: #1F1F1F; &:is(.button):before { background-color: #1F1F1F; } }
    &-dark-gray-3 { background-color: #2E2E2E; &:is(.button):before { background-color: #2E2E2E; } }
    &-blue { background-color: $blue; &:is(.button):before { background-color: $blue; } }
    &-light-blue { background-color: #06CCD3; &:is(.button):before { background-color: #06CCD3; } }
    &-black { background-color: $black; &:is(.button):before { background-color: $black; } }
    &-teal { background-color: $teal; &:is(.button):before { background-color: $teal; } }
    &-emerald { background-color: #46C998; &:is(.button):before { background-color: #46C998; } }
    &-sea-blue { background-color: #83ACB2; &:is(.button):before { background-color: #83ACB2; } }
    &-pastel-blue { background-color: #7F84DE; &:is(.button):before { background-color: #7F84DE; } }
    &-violet { background-color: $violet; &:is(.button):before { background-color: $violet; } }
    &-baby-blue { background-color: $baby-blue; &:is(.button):before { background-color: $baby-blue; } }
    &-white { background-color: $background-1; &:is(.button):before { background-color: $background-1; } }
    &-note { background-color: #FFFBDE; &:is(.button):before { background-color: #FFFBDE; } }

    &-gradient {
        &-orange { background: linear-gradient(to right, $orange, $yellow); &:is(.button):before { background: linear-gradient(to right, $orange, $yellow); } }
        &-orange-swap { background: linear-gradient(to right, $yellow, $orange); &:is(.button):before { background: linear-gradient(to right, $yellow, $orange); } }
        &-yellow { background: linear-gradient(to right, #FFB700, $yellow); &:is(.button):before { background: linear-gradient(to right, #FFB700, $yellow); } }
        &-purple { background: linear-gradient(to right, #52A6E0, #F379E7); &:is(.button):before { background: linear-gradient(to right, #52A6E0, #F379E7); } }
        &-purple-vertical { background: linear-gradient(to bottom, #B57DC1, #9A7DC1); &:is(.button):before { background: linear-gradient(to bottom, #B57DC1, #9A7DC1); } }
        &-gray-vertical { background: linear-gradient(to bottom, $background-2, $background-1); &:is(.button):before { background: linear-gradient(to bottom, $background-2, $background-1); } }
        &-spanish { background: linear-gradient(to bottom, #F92B2B, #FFB400); &:is(.button):before { background: linear-gradient(to right, #F92B2B, #FFB400); } }
    }

    // BG colors used scarcely
    &-3B3B3B { background-color: #3B3B3B; }
    &-D45703 { background-color: #D45703; &:is(.button):before { background-color: #D45703; } }
    &-F9F9F9 { background-color: #F9F9F9; &:is(.button):before { background-color: #F9F9F9; } }
    &-414141 { background-color: #414141; &:is(.button):before { background-color: #414141; } }
}

.overlay {
    &-orange {
        position: relative;
        &:before { 
            content:"";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #FF6F09;
            z-index: 1;
            mix-blend-mode: hard-light;
        }
    }
}

.lh {
    &-s { line-height: 1; }
    &-m { line-height: 1.35; }
    &-l { line-height: 1.5; }
    &-xl { line-height: 2; }

    &-sm-s { @include breakpoint(small) { line-height: 1; } }
    &-sm-m { @include breakpoint(small) { line-height: 1.35; } }
    &-sm-l { @include breakpoint(small) { line-height: 1.5; } }
    &-sm-xl { @include breakpoint(small) { line-height: 2; } }
}

.mb {
    &-0 { margin-bottom: 0; }
    &-xxs { margin-bottom: $margin-xxs-12; }
    &-xs { margin-bottom: $margin-xs-18; }
    &-s { margin-bottom: $margin-s-30; }
    &-r { margin-bottom: ptr(60); }
    &-m { margin-bottom: $margin-m-75; }
    &-l { margin-bottom: $margin-l-100; }
    &-remove {
        > * {
            margin-bottom: 0!important;
        }
    }

    &-sm-0 { @include breakpoint(small) { margin-bottom: 0; } }
    &-sm-xxs { @include breakpoint(small) { margin-bottom: $margin-xxs-12; } }
    &-sm-xs { @include breakpoint(small) { margin-bottom: $margin-xs-18; } }
    &-sm-s { @include breakpoint(small) { margin-bottom: $margin-s-30; } }
    &-sm-r { @include breakpoint(small) { margin-bottom: ptr(60); } }
    &-sm-m { @include breakpoint(small) { margin-bottom: $margin-m-75; } }
    &-sm-l { @include breakpoint(small) { margin-bottom: $margin-l-100; } }
}

.mt {
    &-0 { margin-top: 0; }
    &-xxs { margin-top: $margin-xxs-12; }
    &-xs { margin-top: $margin-xs-18; }
    &-s { margin-top: $margin-s-30; }
    &-r { margin-top: ptr(60); }
    &-m { margin-top: $margin-m-75; }
    &-l { margin-top: $margin-l-100; }

    &-sm-0 { @include breakpoint(small) { margin-top: 0; } }
    &-sm-xxs { @include breakpoint(small) { margin-top: $margin-xxs-12; } }
    &-sm-xs { @include breakpoint(small) { margin-top: $margin-xs-18; } }
    &-sm-s { @include breakpoint(small) { margin-top: $margin-s-30; } }
    &-sm-r { @include breakpoint(small) { margin-top: ptr(60); } }
    &-sm-m { @include breakpoint(small) { margin-top: $margin-m-75; } }
    &-sm-l { @include breakpoint(small) { margin-top: $margin-l-100; } }
}

.ml {
    &-auto { margin-left: auto; }
    &-0 { margin-left: 0; }
    &-xxs { margin-left: $margin-xxs-12; }
    &-xs { margin-left: $margin-xs-18; }
    &-s { margin-left: $margin-s-30; }
    &-r { margin-left: ptr(60); }
    &-m { margin-left: $margin-m-75; }
    &-l { margin-left: $margin-l-100; }

    &-sm-0 { @include breakpoint(small) { margin-left: 0; } }
    &-sm-xxs { @include breakpoint(small) { margin-left: $margin-xxs-12; } }
    &-sm-xs { @include breakpoint(small) { margin-left: $margin-xs-18; } }
    &-sm-s { @include breakpoint(small) { margin-left: $margin-s-30; } }
    &-sm-r { @include breakpoint(small) { margin-left: ptr(60); } }
    &-sm-m { @include breakpoint(small) { margin-left: $margin-m-75; } }
    &-sm-l { @include breakpoint(small) { margin-left: $margin-l-100; } }
}

.mr {
    &-auto { margin-right: auto; }
    &-0 { margin-right: 0; }
    &-xxs { margin-right: $margin-xxs-12; }
    &-xs { margin-right: $margin-xs-18; }
    &-s { margin-right: $margin-s-30; }
    &-r { margin-right: ptr(60); }
    &-m { margin-right: $margin-m-75; }
    &-l { margin-right: $margin-l-100; }

    &-sm-0 { @include breakpoint(small) { margin-right: 0; } }
    &-sm-xxs { @include breakpoint(small) { margin-right: $margin-xxs-12; } }
    &-sm-xs { @include breakpoint(small) { margin-right: $margin-xs-18; } }
    &-sm-s { @include breakpoint(small) { margin-right: $margin-s-30; } }
    &-sm-r { @include breakpoint(small) { margin-right: ptr(60); } }
    &-sm-m { @include breakpoint(small) { margin-right: $margin-m-75; } }
    &-sm-l { @include breakpoint(small) { margin-right: $margin-l-100; } }
}

.pv {
    &-s { padding-top: $padding-s-15; padding-bottom: $padding-s-15; }
    &-r { padding-top: ptr(35); padding-bottom: ptr(35); }
    &-m { padding-top: $padding-m-45; padding-bottom: $padding-m-45; }
    &-l { padding-top: $padding-l-80; padding-bottom: $padding-l-80; }
    &-xl { padding-top: $margin-l-100; padding-bottom: $margin-l-100; }
    &-hero { padding-top: ptr(255); padding-bottom: $margin-l-100; }
    
    &-sm-0 { @include breakpoint(small) { padding-top: 0; padding-bottom: 0; } }
    &-sm-s { @include breakpoint(small) { padding-top: $padding-s-15; padding-bottom: $padding-s-15; } }
    &-sm-r { @include breakpoint(small) { padding-top: ptr(35); padding-bottom: ptr(35); } }
    &-sm-m { @include breakpoint(small) { padding-top: $padding-m-45; padding-bottom: $padding-m-45; } }
    &-sm-l { @include breakpoint(small) { padding-top: $padding-l-80; padding-bottom: $padding-l-80; } }
    &-sm-xl { @include breakpoint(small) { padding-top: $margin-l-100; padding-bottom: $margin-l-100; } }
    &-sm-hero { @include breakpoint(small) { padding-top: ptr(100); padding-bottom: $margin-l-100; } }
}

.ph {
    &-xs { padding-left: ptr(12); padding-right: ptr(12); }
    &-s { padding-left: $padding-s-15; padding-right: $padding-s-15; }
    &-r { padding-left: ptr(35); padding-right: ptr(35); }
    &-m { padding-left: $padding-m-45; padding-right: $padding-m-45; }
    &-l { padding-left: $padding-l-80; padding-right: $padding-l-80; }
    &-xl { padding-left: ptr(100); padding-right: ptr(100); }

    &-sm-0 { @include breakpoint(small) { padding-left: 0; padding-right: 0; } }
    &-sm-xs { @include breakpoint(small) { padding-left: ptr(12); padding-right: ptr(12); } }
    &-sm-s { @include breakpoint(small) { padding-left: $padding-s-15; padding-right: $padding-s-15; } }
    &-sm-r { @include breakpoint(small) { padding-left: ptr(35); padding-right: ptr(35); } }
    &-sm-m { @include breakpoint(small) { padding-left: $padding-m-45; padding-right: $padding-m-45; } }
    &-sm-l { @include breakpoint(small) { padding-left: $padding-l-80; padding-right: $padding-l-80; } }
    &-sm-xl { @include breakpoint(small) { padding-left: ptr(100); padding-right: ptr(100); } }
}

.radius {
    &-xl { border-radius: $radius-xl-80; }
    &-l { border-radius: $radius-l-40; }
    &-m { border-radius: $radius-m-18; }
    &-s { border-radius: $radius-s-10; }

    &-sm-0 { @include breakpoint(small) { border-radius: 0; } }
    &-sm-xl { @include breakpoint(small) { border-radius: $radius-xl-80; } }
    &-sm-l { @include breakpoint(small) { border-radius: $radius-l-40; } }
    &-sm-m { @include breakpoint(small) { border-radius: $radius-m-18; } }
    &-sm-s { @include breakpoint(small) { border-radius: $radius-s-10; } }
}

.marginless {
    * {
        margin: 0;
    }
}

.shadow {
    box-shadow: 0 0.01rem 2rem 0 rgba(0, 0, 0, 0.05);

    &-top {
        box-shadow: -2.75rem -3.75rem 3.125rem -3.125rem rgba(0, 9, 0, 0.06), 2.75rem -3.75rem 3.125rem -3.125rem rgba(0, 9, 0, 0.06)
    }
}

.slot {
    // Alignment
    &.center, &.right, &.left {
        justify-content: center;
        justify-items: center;
    }

    &-dual {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 0 $gap-s-24;
        
        &_sm-single {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            gap: 0 $gap-s-24;

            @include breakpoint(small) {
                grid-template-columns: 1fr;
            }
        }

        &_md-single {
            display: grid;
            width: 100%;
            grid-template-columns: 1fr 1fr;
            gap: 0 $gap-s-24;

            @include breakpoint(medium) {
                grid-template-columns: 1fr;
            }
        }
    }
}

.full-w {
    width: 100%;

    &-sm-auto {
        width: 100%;
        @include breakpoint(medium) {
            width: auto;
            &.button {
                padding: 0.9375rem 2.375rem!important;
            }
        }
    }
}

section:has(.mobile-fullw) {
    @include breakpoint(medium) {
        width: 100%;
        padding: 0;

        .slot {
            border-radius: 0;
        }
    }
}

.sm-auto {
    width: auto;
}

.center {
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
}

.padded {
    max-width: ptr(920);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.content-top {
    .dual-layout-content {
        align-self: flex-start;
        padding-top: ptr(50);
    }
}

/* Grid */
[data-grid="0"] {
    display: flex;
}

@for $i from 1 through 15 {
    [data-grid="#{$i}"] {
        display: grid;
        grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    }
    [data-grid-cell-span="#{$i}"] {
        grid-column: span #{$i};
    }
    [data-grid-vertical-gap="#{$i}"] {
        grid-column-gap: #{$i}rem;
    }
    [data-grid-horizontal-gap="#{$i}"] {
        grid-row-gap: #{$i}rem;
    }

    [data-grid-row-span="#{$i}"] {
        grid-row: span #{$i};
    }
}

.gap {
    &-s { gap: $gap-s-24; }
    &-m { gap: ptr(34); }
    &-l { gap: $gap-l-72; }
    &-xl { gap: $gap-xl-120; }

    &-sm-0 { @include breakpoint(small) { gap: 0; } }
    &-sm-s { @include breakpoint(small) { gap: $gap-s-24; } }
    &-sm-m { @include breakpoint(small) { gap: ptr(34); } }
    &-sm-l { @include breakpoint(small) { gap: $gap-l-72; } }
    &-sm-xl { @include breakpoint(small) { gap: $gap-xl-120; } }
}

.no-overflow {
    overflow: hidden;
}

@for $i from 0 through 120 {
    .mw-#{$i} { max-width: #{$i}rem; }
    .mr-#{$i} { margin-right: ptr($i); }
    .ml-#{$i} { margin-left: ptr($i); }
    .mb-#{$i} { margin-bottom: ptr($i); }
    .mt-#{$i} { margin-top: ptr($i); }
    .ph-#{$i} { padding-left: ptr($i); padding-right: ptr($i); }
    .pv-#{$i} { padding-top: ptr($i); padding-bottom: ptr($i); }
    .pb-#{$i} { padding-bottom: ptr($i); }
    .pt-#{$i} { padding-top: ptr($i); }
    .height-#{$i} { height: ptr($i); }

    .mw-sm-#{$i} { @include breakpoint(small) { max-width: #{$i}rem!important; } }
    .mr-sm-#{$i} { @include breakpoint(small) { margin-right: ptr($i)!important; } }
    .ml-sm-#{$i} { @include breakpoint(small) { margin-left: ptr($i)!important; } }
    .mb-sm-#{$i} { @include breakpoint(small) { margin-bottom: ptr($i)!important; } }
    .mt-sm-#{$i} { @include breakpoint(small) { margin-top: ptr($i)!important; } }
    .ph-sm-#{$i} { @include breakpoint(small) { padding-left: ptr($i)!important; padding-right: ptr($i)!important; } }
    .pv-sm-#{$i} { @include breakpoint(small) { padding-top: ptr($i)!important; padding-bottom: ptr($i)!important; } }
    .pb-sm-#{$i} { @include breakpoint(small) { padding-bottom: ptr($i)!important; } }
    .pt-sm-#{$i} { @include breakpoint(small) { padding-top: ptr($i)!important; } }
    .height-sm-#{$i} { @include breakpoint(small) { height: ptr($i)!important; } }
}

$weights: 400, 500, 600, 700, 800;
@each $weight in $weights {
    .fw-#{$weight} {
        font-weight: $weight;
    }

    .fw-sm-#{$weight} { @include breakpoint(small) { font-weight: $weight; } }
}

.pull-slot {
    margin-top: ptr(-210);
}

.wrap-balance {
    text-wrap: balance;
}

.font-rounded {
    font-family: 'Sf Pro Rounded', Arial, sans-serif;
}

.header-mobile-products-wrapper {
    interpolate-size: allow-keywords;
    height: 0;
    transition: all 1s cubic-bezier(0.770, 0.000, 0.175, 1.000);
    padding: 0rem 1rem;
    margin-top: 0rem;

    &.active {
        margin-top: 1rem;
        height: auto;
        padding: 1rem 1rem;
    }
}