@use "helpers" as *;
@use "variables" as *;

body {
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

.enroll-roller {
    overflow: hidden;
    place-self: center;
    mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
    align-items: center;
    gap: ptr(72);
    display: flex;
    height: 62px;

    img {
        max-height: 100%;
    }
}

.faq-item-a {
    height: 0;
    padding-bottom: 0;
}

.custom-styles {
    display: none !important;
}

[megamenu] {
    position: fixed;
    top: 0;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);

    .header-menu-link {
        pointer-events: all;
    }

    .header-megamenu {
        opacity: 0;
        visibility: hidden;
        pointer-events: all;
        margin-top: 0;
        position: absolute;
        top: 100%;
        max-width: ptr(1200);
        left: 50%;
        transform: translateX(-50%);
    }
}

.team-member-image {
    > * {
        transition: transform 1s cubic-bezier(0.23, 1, 0.32, 1); // GSAP Power4.out
        backface-visibility: hidden;
    }

    &:hover {
        .team-member-picture {
            transform: perspective(40rem) rotateY(0deg) scale(1);
        }

        .team-member-illustration {
            transform: perspective(40rem) rotateY(-180deg) scale(1);
        }
    }

    .team-member-picture {
        transform: perspective(40rem) rotateY(180deg) scale(1);
    }

    .team-member-illustration {
        transform: perspective(40rem) rotateY(0deg) scale(1);

    }
}

[data-animation="memberships"] {
    .slot {
        display: grid!important;
    }

    .pricing-heading {
        grid-area: 1/1;
        opacity: 0;
        visibility: hidden;
    }
}

.memberships {
    display: grid;
    justify-content: center;

    &-toggler {
        grid-area: 1/1;
        justify-self: center;
    }

    &-tab {
        grid-area: 2/1;
        justify-items: center;
        justify-content: center;
        align-items: start;
        height: 100%;
        opacity: 0;
        visibility: hidden;

        > * {
            height: 100%;
        }
    }
}

[data-animation="diction"] .anim-diction { // data-animation="headingWave" .heading
    display: inline-block;
    background: none;
    webkit-background-clip: unset;
    background-clip: unset;
    mix-blend-mode: unset;
    -webkit-text-fill-color: unset;
}

.testimonials {
    &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: cyan;
        left: 2.8125rem;
    }

    .testimonials-controls {
        @include breakpoint('medium') {
            display: none;
        }
    }
}

.testimonials-wrapper {
    overflow: visible;
    cursor: grab;
    &:active {
        cursor: grabbing;
    }

    > * {
        scroll-snap-align: center;
        webkit-user-drag: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}